body{
	background-color:  grey;
	font-family: "Comic Sans MS", cursive, sans-serif;
	color: white;
	background-image: url("https://s-media-cache-ak0.pinimg.com/originals/8c/3c/c1/8c3cc1d5271a13a40c65c76b145473d7.png");
	background-position: center;
	background-size: 100%;
	



}
div.head{
	background-color:;
    background: center
	width: 500px;
	/*height: cover;*/
	margin: 9% ;
	border:5%  ;
	border-color: black;
	text-align: center;
	font-size: 2em;
	padding-left: : 10%; 
	float: center;

	


}

div.body{
	background-color:  ;
	background-position: float;
	width: cover;
	height: auto;
	margin: 9% ;
	border:5%  ;
	border-color: white;
	text-align: center;
	font-size: 1.5em;
	padding-left: : 10%; 
}
div.links{
	background-color: 	;
	background-position: float ;
	width: cover;
	height: auto;
	margin: 9% ;
	border:5%  ;
	border-color: black;
	text-align: center;
	font-size: 1.5em;
	padding-left: : 10%; 
	display: float;
}
div.table{
	background-color: ;
	background-position: float;
	width: cover;
	height: auto;
	margin: 9% ;
	border:5%  ;
	border-color: white;
	text-align: center;
	font-size: 1.5em;
	padding-left: : 10%; 

}